# ==========================================================
# 1. IDENTIFICADOR DEL PROYECTO
# ==========================================================
# Cambia esto si quieres separar volúmenes entre proyectos (ej. digital_library_prod)
COMPOSE_PROJECT_NAME=digital_library_dev

# ==========================================================
# 2. POSTGRESQL & PGADMIN
# ==========================================================
POSTGRES_USER=dev_admin
POSTGRES_PASSWORD=dev_password_123
POSTGRES_DB=crochet_library
POSTGRES_PORT=5432

# Credenciales para acceder a pgAdmin (http://localhost:8080)
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin_root_pass
PGADMIN_PORT=8080

# ==========================================================
# 3. MINIO (ALMACENAMIENTO S3)
# ==========================================================
# Estas son las credenciales para la consola (9001) y tu código .NET
MINIO_USER=minio_dev_user
MINIO_PASSWORD=minio_dev_password_secret

# ==========================================================
# 4. OPENSEARCH (MOTOR DE BÚSQUEDA)
# ==========================================================
# DESARROLLO: Usa true | PRODUCCIÓN: Usa false
OS_SECURITY_DISABLED=true
OS_DEMO_CONFIG_DISABLED=true

# MEMORIA: Local -> 512m | Producción -> 2g o más dependiendo del servidor
OS_JAVA_OPTS=-Xms512m -Xmx512m